{% extends 'base.html' %}
{% block content %}
<form action="/countries/{{country.id}}" method="post">
    <div>
        <label for="name">Name:</label>
        <select name="name" id="name">
            {% for database_country in all_countries %}
            <option value="{{database_country}}"{% if database_country == country.name %}
                selected = "selected"
            {% endif %}>{{ database_country }}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="continent">Continent:</label>
        <input type="text" id="continent" name="continent" value="{{country.continent}}" required>
    </div>
    <div>
        <label for="visited">Visited?</label>
        <input type="checkbox" id="visited" name="visited" {% if country.visited %} checked {% endif %}>
    </div>
    <div>
        <label for="want_to_visit">Add to Wishlist?</label>
        <input type="checkbox" id="want_to_visit" name="want_to_visit" {% if country.want_to_visit %} checked {% endif
            %}>
    </div>
    <button type="submit">Edit Country</button>
</form>
{% endblock content %}