{% extends 'base.html' %}
{% block content %}
<form class="form" action="/countries" method="post">
  
    <div class="selection-div">
        <label for="name">Name:</label>
        <select name="name" id="name">
            {% for country in all_countries %}
            <option value="{{country}}">{{ country }}</option>
            {% endfor %}
        </select>


    </div>
    <div class="selection-div">
        <label for="continent">Continent:</label>
        <select  id="continent" name="continent">
            <option value="Africa">Africa</option>
            <option value="Antarctica">Antarctica</option> 
            <option value="Asaia">Asia</option> 
            <option value="Australia">Australia</option> 
            <option value="Europe">Europe</option> 
            <option value="North America">North America</option> 
            <option value="South America">South America</option>  </select>
    </div>
    <div class="selection-div">
        <label for="visited">Visited?</label>
        <input type="checkbox" id="visited" name="visited">
    </div>
    <div class="selection-div">
        <label for="want_to_visit">Add to Wishlist?</label>
        <input type="checkbox" id="want_to_visit" name="want_to_visit">
    </div>
    <div class="selection-div selection-button">
    <button type="submit">Add Country</button>
    </div>
    
</form>

{% endblock content %}