{% extends 'base.html' %}
{% block content %}
<form class="form" action="/cities/{{city.id}}" method="post">
    <div class="selection-div">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{city.name}}" required>
    </div>
    <div class="selection-div">
        <label for="country">Country:</label>
        <select name="country_id" id="country">
            {% for country in countries %}
            <option value="{{country.id}}" {% if city.country.id==country.id %} selected="selected" {% endif %}>

                {{ country.name }}</option>

            {% endfor %}
        </select>
    </div>
    <div class="selection-div">
        <label for="visited">Visited?</label>
        <input type="checkbox" id="visited" name="visited" {% if city.visited %} checked {% endif %}>
    </div>
    <div class="selection-div">
        <label for="want_to_visit">Add to Wishlist?</label>
        <input type="checkbox" id="want_to_visit" name="want_to_visit" {% if city.want_to_visit %} checked {% endif %}>
    </div>
    <div class="selection-div selection-button">
    <button type="submit">Edit City</button>
    </div>
</form>

{% endblock content %}