{% extends 'base.html' %}
{% block content %}
<main>
    <menu>
        <ul>Filter by: <li><a href="/cities">Show all</a></li>
            <li><a href="/cities/filter/visited/true">Visited</a></li>
            <li><a href="/cities/filter/visited/false">Not Visited</a></li>
            <li><a href="/cities/filter/want_to_visit/true">On Bucket List</a></li>
        </ul>
        <a href="/cities/new">Add New City</a>
    </menu>
<div class="container">
    {% for city in cities %}
    <div class="city-div" style="order:{{city.id}}">
        <img class="header-image" src="https://source.unsplash.com/random/?{{city.name}},city" alt="{{city.name}}">
        <div class="city-body-div">
        <h2 class="city-header">{{ city.name }}</h2>
        <h3>{{ city.country.name }}</h3>
        <div class="status-toggle-div">
            <p> Visited?</p>
            <form action="/cities/{{city.id}}/edit/visited" method="post"><button
                    class="change-status-button">{% if city.visited %}
                    <span class="far fa-check-circle"></span>

                    {% else %}
                    <span class="far fa-times-circle"></span>
                    {% endif %}</button> </form>
        </div>
        <div class="status-toggle-div">
            <p>Want to visit?</p>
            <form action="/cities/{{city.id}}/edit/want_to_visit" method="post"><button
                    class="change-status-button"> {% if city.want_to_visit %}
                    <span class="far fa-check-circle"></span>

                    {% else %}
                    <span class="far fa-times-circle"></span>
                    {% endif %}</button></form>
        </div>
        <div class="div-buttons">
            <a href="/cities/{{city.id}}/edit"><span class="fas fa-edit"></span></a>
            <form class="city-delete-form" action="/cities/{{city.id}}/delete" method="post">
                <button class="delete-button"><span class="fas fa-trash-alt"></span></button>
            </form>
        </div>
        </div>
    </div>
    {% endfor %}
    
</div>

{% endblock content %}