{% extends 'base.html' %}
{% block content %}
<div class="show-detail-container">
    <hgroup>
        <h2>{{ city.name }}</h2>
        <h3>{{ city.country.name }}</h3>
        <p> Visited? {% if city.visited %}
            <span class="far fa-check-circle"></span>

            {% else %}
            <span class="far fa-times-circle"></span>
            {% endif %}
        </p>
        <p> Want to visit? {% if city.want_to_visit %}
            <span class="far fa-check-circle"></span>

            {% else %}
            <span class="far fa-times-circle"></span>
            {% endif %}
        </p>
        <hr>
    </hgroup>
    <div class="show-cities-div">
        <h3>Sights</h3>
        <main>
            <menu id="detailed-country-menu">
                <a href="/cities/new">Add New Sight</a>
            </menu>
            <div class="container">
                {% for sight in sights %}
                <div class="city-div" style="order:{{sight.id}}">
                    <img class="header-image"
                        src="https://source.unsplash.com/random/?{{sight.city.name}},{{sight.category}}"
                        alt="{{sight.name}}">
                    <div class="city-body-div">
                        <h2 class="city-header">{{ sight.name }}</h2>
                        <h3>{{ sight.city.name }}</h3>
                        <h3>{{sight.category}}</h3>
                        <div class="status-toggle-div">
                            <p> Visited?</p>
                            <form action="/sights/{{sight.id}}/edit/visited" method="post"><button
                                    class="change-status-button">{% if sight.visited %}
                                    <span class="far fa-check-circle"></span>

                                    {% else %}
                                    <span class="far fa-times-circle"></span>
                                    {% endif %}</button> </form>
                        </div>
                        <div class="status-toggle-div">
                            <p>Want to visit?</p>
                            <form action="/sights/{{sight.id}}/edit/want_to_visit" method="post"><button
                                    class="change-status-button"> {% if sight.want_to_visit %}
                                    <span class="far fa-check-circle"></span>

                                    {% else %}
                                    <span class="far fa-times-circle"></span>
                                    {% endif %}</button></form>
                        </div>
                        <div class="div-buttons">
                            <a href="/sights/{{sight.id}}/edit"><span class="fas fa-edit"></span></a>
                            <form class="city-delete-form" action="/sights/{{sight.id}}/delete" method="post">
                                <button class="delete-button"><span class="fas fa-trash-alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>

                {% endfor %}

            </div>
    </div>
</div>
{% endblock content %}