body {
    background-color:gainsboro
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px ;
}

.country-div {
    background-color: lightblue;
    padding: 20px;
}

.div-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}